<?xml version="1.0"?>

<launch>
<arg name="pipeline" default="dirrt"/>
<arg name="fake" default="true"/>
<arg name="run_moveit" default="true"/>
<arg name="run_control" default="true"/>
<arg name="rviz_config" default="$(find ur5e_mics_bringup)/config/control.rviz"/>
<arg name="kinematics_params" default="$(find ur5e_mics_description)/config/ur5e_calib.yaml"/>

<!--
<arg name="controllers_configurations" default="$(find ur5e_mics_bringup)/config/controllers_configurations.yaml" doc="Kinematics config file used for calibration correction. This will be used to verify the robot's calibration is matching the robot_description."/>
<arg name="controllers_dispatches" default="$(find ur5e_mics_bringup)/config/controllers_dispatches.yaml"/>
-->

<!-- robot model -->
<include file="$(find ur5e_mics_description)/launch/load_ur5e_mics_complete.launch" >
  <arg name="kinematics_params" value="$(arg kinematics_params)"/>
</include>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" /> <!-- Compute TF forward kin. -->

<group unless="$(arg fake)" >
  <!-- bringup robot ros control -->
  <include  file="$(find ur5e_mics_bringup)/launch/robot_control.launch">
    <arg name="kinematics_config" value="$(arg kinematics_params)"/>
    <arg name="robot_ip" value="192.168.150.1"/>
    <!--
    <arg name="controllers_configurations" value="$(arg controllers_configurations)"/>
    <arg name="controllers_dispatches" value="$(arg controllers_dispatches)"/>
    -->
  </include>
  <!-- bringup moveit -->
  <include if="$(arg run_moveit)" file="$(find ur5e_mics_bringup)/launch/moveit.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="moveit_controller_manager" value="simple"/>
  </include>
</group>

<group if="$(arg fake)">
  <!-- fake controllers in simulation -->
  <include if="$(arg fake)" file="$(find ur5e_mics_bringup)/launch/fake_control.launch">
  </include>
  <!-- bringup moveit -->
  <include if="$(arg run_moveit)" file="$(find ur5e_mics_bringup)/launch/moveit.launch">
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="moveit_controller_manager" value="fake"/>
  </include>
</group>



</launch>
