<?xml version="1.0"?>
<!--URDF MODEL UR5E ON ITEM TABLE WITH SELECTED GRIPPER-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5e_mics_complete" >

<!-- parameters -->
<xacro:arg name="joint_limit_params" default="$(find ur_description)/config/ur5e/joint_limits.yaml"/>
<xacro:arg name="kinematics_params" default="$(find ur_description)/config/ur5e/default_kinematics.yaml"/>
<xacro:arg name="physical_params" default="$(find ur_description)/config/ur5e/physical_parameters.yaml"/>
<xacro:arg name="visual_params" default="$(find ur_description)/config/ur5e/visual_parameters.yaml"/>
<!-- legal values:
     - hardware_interface/PositionJointInterface
     - hardware_interface/VelocityJointInterface
     - hardware_interface/EffortJointInterface
-->
<xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
<xacro:arg name="safety_limits" default="false"/>
<xacro:arg name="safety_pos_margin" default="0.15"/>
<xacro:arg name="safety_k_position" default="20"/>

<xacro:property name="origin_frame" value="world" />
<xacro:property name="gripper_name" value="False" />
<xacro:property name="upper_left_corner_to_baselink_x" value="0.26"/>
<xacro:property name="upper_left_corner_to_baselink_y" value="0.592"/>

<xacro:include filename="$(find ur5e_mics_description)/urdf/ur5e_mics_w_gripper.xacro" />

<xacro:include filename="$(find ur5e_mics_description)/urdf/fixed_parts.xacro" />
<xacro:include filename="$(find ur5e_mics_description)/urdf/virtual_walls.xacro" />

<!-- define world link -->
<link name="${origin_frame}" />

<xacro:ur5e_mics_w_gripper gripper_name="${gripper_name}"  
  joint_limits_parameters_file="$(arg joint_limit_params)"
  kinematics_parameters_file="$(arg kinematics_params)"
  physical_parameters_file="$(arg physical_params)"
  visual_params="$(arg visual_params)"
  transmission_hw_interface="$(arg transmission_hw_interface)"
  safety_limits="$(arg safety_limits)"
  safety_pos_margin="$(arg safety_pos_margin)"
  safety_k_position="$(arg safety_k_position)"
/>

<xacro:fixed_parts    origin_frame="${origin_frame}" />
<xacro:virtual_walls  origin_frame="${origin_frame}" />

<joint name="tabletop_to_base_link" type="fixed">
  <parent link="tabletop" />
  <child  link = "base_link" />
  <origin xyz="${upper_left_corner_to_baselink_x} ${upper_left_corner_to_baselink_y} 0.0" rpy="0 0 -1.57079632679" />
</joint>

<gazebo reference="${origin_frame}">
    <static>true</static>
</gazebo>


</robot>
