<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5e_mics_w_gripper" >
<xacro:macro name="ur5e_mics_w_gripper" params="
  gripper_name
  prefix:=''
  joint_limits_parameters_file:='$(find ur_description)/config/ur5e/joint_limits.yaml'
  kinematics_parameters_file:='$(find ur_description)/config/ur5e/default_kinematics.yaml'
  physical_parameters_file:='$(find ur_description)/config/ur5e/physical_parameters.yaml'
  visual_params:='$(find ur_description)/config/ur5e/visual_parameters.yaml'
  transmission_hw_interface:=hardware_interface/PositionJointInterface
  safety_limits:=false
  safety_pos_margin:=0.15
  safety_k_position:=20 ">

  <!--import ur5e-->
  <xacro:include filename="$(find ur_description)/urdf/inc/ur5e_macro.xacro"/>
  <xacro:ur5e_robot 
    prefix = "${prefix}"
    joint_limits_parameters_file="${joint_limits_parameters_file}"
    kinematics_parameters_file="${kinematics_parameters_file}"
    visual_parameters_file="$(arg visual_params)"
    physical_parameters_file="${physical_parameters_file}"
    transmission_hw_interface="${transmission_hw_interface}"
    safety_limits="${safety_limits}"
    safety_pos_margin="${safety_pos_margin}"
    safety_k_position="${safety_k_position}"
  />

  <!--TODO-->
  <xacro:if value="${gripper_name == True}">
  </xacro:if>

  <gazebo reference="tool0">>
   <provideFeedback>true</provideFeedback>
  </gazebo>

  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>wrench</topicName>
      <jointName>tool0</jointName>
    </plugin>
  </gazebo>

</xacro:macro>
</robot>
